*env*/
*.org
notebooks/
high_resoution_image/
.ipynb_checkpoints/
*.jpg
blend_images/
images/
old_images/
__pycache__/
.ipynb_checkpoints/
saved_models/
test_images/
img_align_celeba/
data.zip/
ISR_saved/
bringing_old_photos_back_to_life_2/
bringing_old_photos_back_to_life/
input_folder/
output_folder/
test.ipynb/
val/
train/
*.pth
archive/